/* @import "https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Plus+Jakarta+Sans:wght@600;800&display=swap"; */
* {
  -webkit-user-drag: none;
}

:root {
  font-family: Inter, -apple-system, "system-ui", Segoe UI, Noto Sans, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 500;
  line-height: 1.6;
  overscroll-behavior: none;
  touch-action: none;
}

p {
  line-height: 1.6;
  font-size: 13px;
}
#root {
  width: 100svw;
  height: 100svh;
  background-color: #131315;
  color: white;
  position: relative;
  overflow: hidden;
}

.canvas *:not(textarea, svg, path, rect, .static, p) {
  position: absolute;
  user-select: none;
}

.slider-range {
  z-index: 1;
}

svg {
  overflow: visible;
  position: absolute;
}
circle {
  cursor: pointer;
}

[data-copy="true"] {
  transform: translate(-20px, -20px);
}

dialog {
  width: fit-content;
  height: fit-content;
  padding: 0;
  color: white;
  background-color: transparent;
}
