* {
  box-sizing: border-box;
}
#root {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

header,
footer {
  height: 10%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  padding: 0% 2rem;
  gap: 20px;

  > * {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.logo {
  width: 50%;
}

.menu {
  width: 10%;
}

.profile {
  width: 10%;
  gap: 20px;

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    height: 100%;
    flex: 1;
  }
}

footer {
  justify-content: center;
}

.board {
  height: 80%;
  background-color: #363434;
  color: white;
}

.tools {
  max-width: fit-content;
  height: 100%;
  position: relative;
  display: flex;
  gap: 4px;
  justify-content: space-evenly;
  align-items: center;
}

.tools::before,
.tools::after {
  content: "";
  height: 100%;
  width: 3rem;
  background-color: red;
}

.tools::before {
  border-top-left-radius: 100%;
}
.tools::after {
  border-top-right-radius: 100%;
}
.tools > * {
  background-color: aqua;
  aspect-ratio: 1;
  flex: auto;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.tools > *.active {
  transform: translateY(-10px);
}

.shape-dialog {
  bottom: 100%;
  left: 80%;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 200px;
}

text {
  font-size: 20px;
}
.focused {
  border: 2px solid red;
  padding: 5px;
}
tspan {
  display: inline-block;
}

textarea {
  opacity: 0;
  position: absolute;
  top: -9999px;
}

.shape {
  width: 40%;
  height: 40%;
  background-color: #363434;
}
.circle {
  border-radius: 50%;
}
.dialog_container {
  background-color: aqua;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
